@model IEnumerable<Sponsor>
@using System.IO
@{
  ViewData["Title"] = "Welcome";
  ViewData["TopSectionClass"] = "top-content";
}
@section topSection {
  <div class="col-sm-8 col-sm-offset-2 text">
    @if (this.GetEventInfo().EventDate.ToUniversalTime().Date > DateTime.Today.AddDays(-1))
    {
      <h1 class="wow fadeInLeftBig"><strong>@this.GetEventInfo().Name</strong> is coming @this.GetEventInfo().EventDate.ToUniversalTime().Date.ToString("D")</h1>
      <div class="description wow fadeInLeftBig">
        <p class="lead">
          The @this.GetEventInfo().Name is your opportunity to join your other Atlanta developer and design community members in a day of training.
        </p>
        @if (string.IsNullOrWhiteSpace(this.GetEventInfo().RegistrationLink))
        {
        <a class="btn btn-lg btn-success disabled">Coming Soon</a>
        }
        else
        {
        <a asp-action="Register" asp-controller="Root" asp-area="" class="btn btn-lg btn-success">Register for @this.GetEventInfo().Name</a>
        }
        @if (this.GetEventInfo().CallForSpeakersOpened <= DateTime.Today && this.GetEventInfo().CallForSpeakersClosed >= DateTime.Today)
        {
        <div class="vertical-spacer">&nbsp;</div>
        <div>
          <p class="lead">The call for speakers is open until @(this.GetEventInfo().CallForSpeakersClosed.ToLongDateString()) <br />Think you have a great talk to share with the community? Sign up here:</p>
          <a asp-action="Index" asp-controller="CallForSpeakers" class="btn btn-lg btn-primary">Call for Speakers</a>
        </div>
        }
        @if (ViewBag.HasSpeaker == true)
        {
        <div class="row inner-box thick-space wow fadeInLeftBig">
          <h2 class="col-md-12">Keynote Speaker Announced!</h2>
          <div class="col-md-9 ">
            <p class="lead">
              Rie Shewbart Irish (Sr Program Manager at Microsoft) is going to kick off the conference as our Keynote Speaker. The topic will be:
            </p>
            <h4>Coding for Diversity & Inclusion</h4>
          </div>
          <img src="~/img/2019/keynote-speaker.jpg" alt-="Rie Shewbart Irish" class="img-responsive img-circle col-md-3" />
        </div>

        }
      </div>
    }
    else
    {
      <h1 class="wow fadeInLeftBig"><strong>@this.GetEventInfo().Name</strong> is over!</h1>
      <div class="description wow fadeInLeftBig">
        <p class="lead">
          Thanks for coming to the @this.GetEventInfo().Name! See you next year!
        </p>
      </div>
    }
  </div>
}
<div class="row">
  <div class="col-sm-12 features section-description wow fadeIn">
    <h2>Why Attend the Code Camp?</h2>
    <div class="divider-1 wow fadeInUp"><span></span></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 features-box wow fadeInUp">
    <div class="features-box-icon"><i class="fa fa-group"></i></div>
    <h3>Learn From The Best</h3>
    <p>Come hear from the best national and local speakers, including Microsoft MVPs, RDs, and open source advocates!</p>
  </div>
  <div class="col-sm-4 features-box wow fadeInDown">
    <div class="features-box-icon"><i class="fa fa-bolt"></i></div>
    <h3>Improve Your Skillset</h3>
    <p>Become a better developer by learning from our six tracks of talks.</p>
  </div>
  <div class="col-sm-4 features-box wow fadeInUp">
    <div class="features-box-icon"><i class="fa fa-cloud"></i></div>
    <h3>Network</h3>
    <p>With developers, designers, and companies all attending, it is your chance to meet the best people in the community all at once.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 features-box wow fadeInUp">
    <div class="features-box-icon"><i class="fa fa-laptop"></i></div>
    <h3>Jobs</h3>
    <p>Some of the best local companies come to this event looking to fill their most important roles. </p>
  </div>
  <div class="col-sm-4 features-box wow fadeInDown">
    <div class="features-box-icon"><i class="fa fa-code"></i></div>
    <h3>Hacking Lab</h3>
    <p>For the first time this year, we'll have an open space for hacking code with other developers and speakers.</p>
  </div>
  <div class="col-sm-4 features-box wow fadeInUp">
    <div class="features-box-icon"><i class="fa fa-tag"></i></div>
    <h3>Prizes</h3>
    <p>Like our past ten code camps, we'll have great prizes for our 'end of event' spectacular.</p>
  </div>
</div>
@section moreSections {
  <div class="more-features-2-container section-container section-container-gray-bg">
    @await Html.PartialAsync("_Sponsors", Model)
  </div>
}
