@model Tuple<List<IEnumerable<ScheduleModel>>, IEnumerable<Talk>, DateTime>
@{
  ViewData["Title"] = "Schedule";

  var slots = Model.Item1;
  var favs = Model.Item2;
  var pickedTime = Model.Item3;

}
@section Scripts {
  <script>
    (function ($) {
      var timeBlock = $('.current-time');
      if (timeBlock.length > 0) window.scrollTo(0, timeBlock.offset().top - 50);
    })(jQuery);
  </script>
}
<div class="row">
  <div class="col-md-2 text-left">
    <h3>Your Favorites</h3>
    @foreach (var fav in favs)
    {
      <div class="well well-sm text-sm">
        <span class="delete-star pull-right" data-id="@fav.Id" title="Remove Favorite"><i class="fa fa-close"></i></span>
        <div><strong>@fav.Title</strong></div>
        <div>@fav.Speaker.Name</div>
        @if (fav.Room != null)
        {
          <div class="text-sm">Room: @fav.Room.Name</div>
        }
        @if (fav.TimeSlot != null)
        {
          <div class="text-sm">Time: @fav.TimeSlot.Time</div>
        }
      </div>
    }
  </div>
  <div class="col-md-10">
    @if (slots == null || slots[0].Count() == 0 || slots[1].Count() == 0)
    {
      <p class="lead">Full Schedule Coming Soon</p>
    }
    else
    {
      <div class="row">
        <div class="col-md-11 col-lg-offset-1"><h3>Schedule</h3></div>
        <div class="col-md-1">
          <p>7:45am-<br />8:30am</p>
        </div>
        <div class="panel col-md-11 panel-info">
          <h4>Registration and Breakfast</h4>
          <div><a href="/img/@(this.GetEventInfo().Moniker)/maps/campus.jpg" target="_blank">Building Q Atrium</a></div>
        </div>
        <div class="col-md-1">
          <p>8:30am-<br />9:00am</p>
        </div>
        <div class="panel col-md-11 panel-success">
          <h4>Introduction and Welcome</h4>
          <div><a href="/img/@(this.GetEventInfo().Moniker)/maps/campus.jpg" target="_blank">Q202 (Auditorium)</a></div>
        </div>

        @foreach (var slot in slots[0])
        {
          <div class="col-md-1 @(slot.Time.TimeOfDay == pickedTime.TimeOfDay ? "current-time" : "")">
            <p>@slot.Time.ToString("hh:mmtt").ToLower()-<br />@slot.Time.AddHours(1).ToString("hh:mmtt").ToLower()</p>
          </div>
          <div class="col-md-11">
            <div class="row">
              @foreach (var talk in slot.Talks)
              {
                @Html.Partial("_ScheduleItem", talk)
              }
            </div>
          </div>
        }

        <div class="col-md-1">
          <p>12:00pm-<br />1:00pm</p>
        </div>
        <div class="panel col-md-11 panel-success">
          <h4>Lunch</h4>
          <div><a href="/img/@(this.GetEventInfo().Moniker)/maps/campus.jpg" target="_blank">Building J (Atrium)</a></div>
        </div>

        @foreach (var slot in slots[1])
        {
          <div class="col-md-1 @(slot.Time.TimeOfDay == pickedTime.TimeOfDay ? "current-time" : "")">
            <p>@slot.Time.ToString("hh:mmtt").ToLower()-<br />@slot.Time.AddHours(1).ToString("hh:mmtt").ToLower()</p>
          </div>
          <div class="col-md-11">
            <div class="row">
              @foreach (var talk in slot.Talks)
              {
                @Html.Partial("_ScheduleItem", talk)
              }
            </div>
          </div>
        }

        <div class="col-md-1">
          <p>5:00pm-<br />5:30pm</p>
        </div>
        <div class="panel col-md-11 panel-success">
          <h4>Wrap-up and Giveaways</h4>
          <div><a href="/img/@(this.GetEventInfo().Moniker)/maps/campus.jpg" target="_blank">Q202 (Auditorium)</a></div>
        </div>
      </div>
    }
  </div>
</div>
