@model Tuple<IEnumerable<Talk>, IEnumerable<Talk>>
@{
  ViewData["Title"] = "Schedule";
}
<div class="row">
  <div class="col-md-3 text-left">
    <h3>Your Favorites</h3>
    @foreach (var fav in Model.Item2)
    {
      <div class="well well-sm text-sm">
        <span class="delete-star pull-right" data-id="@fav.Id" title="Remove Favorite"><i class="fa fa-close"></i></span>
        <div><strong>@fav.Title</strong></div>
        <div>@fav.Speaker.Name</div>
        @if (fav.Room != null)
        {
          <div class="text-sm">Room: @fav.Room.Name</div>
        }
        @if (fav.TimeSlot != null)
        {
          <div class="text-sm">Time: @fav.TimeSlot.Time</div>
        }
      </div>
    }
  </div>
  <div class="col-md-9">
    <h3>Schedule</h3>
    <p class="lead">Full Schedule Coming Soon</p>
  </div>
</div>
