<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>@ViewData["Title"] - @this.GetEventInfo().Name</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500">

  <environment names="Development">
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/jquery-ui-dist/jquery-ui.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/node_modules/typicons.font/src/font/typicons.css" rel="stylesheet" />

    <link href="~/template/css/animate.css" rel="stylesheet">
    <link href="~/template/css/style.css" rel="stylesheet">
    <link href="~/template/css/media-queries.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link href="~/lib/jquery-ui-dist/jquery-ui.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/lib/typicons.font/typicons.css" asp-append-version="true" rel="stylesheet" />

    <link href="~/template/css/animate.css" rel="stylesheet">
    <link href="~/template/css/style.css" rel="stylesheet">
    <link href="~/template/css/media-queries.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>

  @RenderSection("Head", false)

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
  <![endif]-->
  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="~/img/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="~/img/apple-touch-icon-57-precomposed.png">

</head>
<body>

  <!-- Loader -->
  <div class="loader">
    <div class="loader-img"></div>
  </div>

  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a asp-area="" asp-controller="Root" asp-action="Index" asp-route-moniker="@Html.GetMoniker()" class="navbar-brand">@this.GetEventInfo().Name</a>
      </div>
      <div class="navbar-collapse collapse">
        @await Html.PartialAsync("_LoginPartial")
        <ul class="nav navbar-nav">
          @await Html.PartialAsync("_MenuItems")
        </ul>
      </div>
      <span  id="topBar"></span>
    </div>
  </div>

  @if (IsSectionDefined("topSection"))
  {
    <div class="@ViewData["TopSectionClass"] section-container-image-bg">
      <div class="inner-bg">
        <div class="container">

          @RenderSection("topSection", false)

        </div>
      </div>
    </div>
  }
  @if (!ViewData.ContainsKey("SupressBody") || ((bool)ViewData["SupressBody"]) == false)
  {
    <div class="features-container section-container">
      <div class="container">
        
        @RenderBody()
      </div>
    </div>
  }
  @RenderSection("moreSections", false)


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 footer-about wow fadeInUp">
          <h3>Other Events</h3>
          @await Html.PartialAsync("_OtherEvents")
        </div>
        <div class="col-sm-4 footer-contact-info wow fadeInDown">
          <h3>@this.GetEventInfo().Name</h3>
          <p>@this.GetEventInfo().Location.Facility</p>
          <p><i class="fa fa-map-marker"></i> @this.GetEventInfo().Location.GetOneLineAddress()</p>
          <p><i class="fa fa-envelope"></i> Email: <a href="mailto:@(this.GetEventInfo().ContactEmail)">@this.GetEventInfo().ContactEmail</a></p>
        </div>
        <div class="col-sm-4 footer-social wow fadeInUp">
          <h3>We're Social</h3>
          <p>
            @if (!string.IsNullOrWhiteSpace(this.GetEventInfo().FacebookLink))
            {
              <a href="@this.GetEventInfo().FacebookLink"><i class="fa fa-facebook"></i></a>
            }
            @if (!string.IsNullOrWhiteSpace(this.GetEventInfo().TwitterLink))
            {
              <a href="@this.GetEventInfo().TwitterLink"><i class="fa fa-twitter"></i></a>
            }
            @if (!string.IsNullOrWhiteSpace(this.GetEventInfo().InstagramLink))
            {
              <a href="@this.GetEventInfo().InstagramLink"><i class="fa fa-instagram"></i></a>
            }
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 footer-copyright">
          &copy; <a asp-controller="Root" asp-action="Index" asp-route-moniker="@(this.GetEventInfo().Moniker)">Atlanta Code Camp</a>
        </div>
        <div class="col-md-3 footer-copyright">
          <p>Source code available on <a href="http://github.com/shawnwildermuth/corecodecamp">Github</a></p>
        </div>
        <div class="col-sm-6 footer-menu">
          <ul>
            @await Html.PartialAsync("_MenuItems")
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <environment names="Development">
    <script src="~/node_modules/jquery/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/node_modules/jquery-backstretch/jquery.backstretch.js"></script>
    <script src="~/node_modules/wowjs/dist/wow.js"></script>
    <script src="~/node_modules/retina.js/src/retina.js"></script>
    <script src="~/node_modules/jquery-waypoints/waypoints.js"></script>

    <script src="~/template/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="~/template/js/placeholder.js"></script>
    <![endif]-->


    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"
            asp-fallback-src="~/lib/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    <script src="~/lib/jquery-backstretch/jquery.backstretch.min.js" asp-append-version="true" ></script>
    <script src="~/lib/wowjs/wow.min.js" asp-append-version="true" ></script>
    <script src="~/lib/retina.js/retina.js" asp-append-version="true" ></script>
    <script src="~/lib/jquery-waypoints/waypoints.min.js" asp-append-version="true" ></script>

    <script src="~/template/js/scripts.js" asp-append-version="true" ></script>

    <!--[if lt IE 10]>
        <script src="~/template/js/placeholder.js"></script>
    <![endif]-->

    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("scripts", required: false)
</body>
</html>
