<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>@ViewData["Title"] - @config["Site:Name"]</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

  <environment names="Development">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/typeicons/src/font/typicons.css" rel="stylesheet" />

    <link href="~/template/css/animate.css" rel="stylesheet">
    <link href="~/template/css/form-elements.css" rel="stylesheet">
    <link href="~/template/css/style.css" rel="stylesheet">
    <link href="~/template/css/media-queries.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/typeicons/src/font/typicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/site.min.css" asp-append-version="true" />
  </environment>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="~/template/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/template/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/template/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/template/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="~/template/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
  <!-- Loader -->
  <div class="loader">
    <div class="loader-img"></div>
  </div>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@config["Site:Name"]</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
        @await Html.PartialAsync("_LoginPartial")
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; 2016 - @config["Site:Name"]</p>
    </footer>
  </div>

  <environment names="Development">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/jquery-backstretch/jquery.backstretch.js"></script>
    <script src="~/lib/wow/dist/wow.js"></script>
    <script src="~/lib/retina.js/src/retina.js"></script>
    <script src="~/lib/waypoints/waypoints.js"></script>

    <script src="~/template/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="~/template/js/placeholder.js"></script>
    <![endif]-->


    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"
            asp-fallback-src="~/lib/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    <script src="~/lib/jquery-backstretch/jquery.backstretch.min.js"></script>
    <script src="~/lib/wow/dist/wow.min.js"></script>
    <script src="~/lib/retina.js/src/retina.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>

    <script src="~/lib/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("scripts", required: false)
</body>
</html>
