@model Speaker
@{
  ViewData["Title"] = "Manage Your Talks";
}
@section Scripts {
  @Html.Partial("_Angular2", "talks")
}
<h2>Speaking at the @this.GetEventInfo().Name</h2>
<div class="row text-left">
  <div class="col-md-6">
    <a asp-action="Speaker" class="btn btn-sm btn-primary">Edit Speaker Details</a>
    <h3>@Model.Name</h3>
    <p><img class="img-responsive pull-right col-md-3" src="@Model.ImageUrl" alt="@Model.Name" />@Model.Bio</p>

    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd>@Model.Title</dd>
      <dt>Company</dt>
      <dd>@Model.CompanyName</dd>
      <dt>Company Website</dt>
      <dd>@Model.CompanyUrl</dd>
      <dt>Blog</dt>
      <dd>@Model.Blog</dd>
      <dt>Website</dt>
      <dd>@Model.Website</dd>
      <dt>Twitter Handle</dt>
      <dd>@Model.Twitter</dd>
      <dt>Phone Number</dt>
      <dd>@Model.PhoneNumber</dd>
      <dt>T-Shirt Size</dt>
      <dd>@Model.TShirtSize</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <h3>Talks</h3>
    <talks><i class="fa-gear fa fa-spin"></i> Loading...</talks>
  </div>
</div>